@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap");

:root {
  --text-color: #111;
  --text-bar-color: #fff;
  --text-submenu-color: #777;
  --background-color: #fff;
  --background-header-color: #364f6b;
  --background2-header-color: #ed1d24;
  --background-hover-color: rgb(201, 201, 201);

  --body-font: "Inter", sans-serif;

  --normal-font-size-0875: 0.875rem;
  --menu-font-size-1: 1rem;
  --query-font-size-075: 0.75rem;
  --submenu-font-size-06875: 0.6875rem;

  --body-lineheight: 1.5;

  --normal-border: 1px solid #eee;
  --form-border: 2px solid #ddd;

  --weight-500: 500;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size-0875);
  line-height: var(--body-lineheight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

select,
option {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size-0875);
}

select:focus {
  outline: none;
}

#header {
  background-color: var(--background-color);
  display: block;
  width: 100%;
}

#header .header-top {
  border-bottom: var(--normal-border);
  padding: 0.6rem 0;
}

.container-top {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.container-top > .text {
  margin-right: auto;
  width: 70%;
  height: 1rem;
}

.language,
.currency {
  position: relative;
  margin-left: 0.9rem;
}

.header-middle {
  padding: 1.5rem 0;
}

.container-middle {
  align-items: center;
}

.container-middle {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}
.logo {
  flex-basis: 25%;
}

.logo-chico {
  display: none;
}

.search {
  flex-basis: 50%;
  padding: 0 0.9rem;
}

form {
  position: relative;
  flex-direction: row;
}

#buttonform {
  border: var(--normal-border);
  border-radius: 0.3rem;
  position: relative;
  flex-direction: row;
}

input[type="text"] {
  background: 0 0;
  border: 0;
  padding: 0 40px 0 10px;
  height: 40px;
  width: 100%;
}

button[type="submit"] {
  background-color: var(--background-color);
  cursor: pointer;
}

i {
  font-size: 1.3rem;
  color: var(--text-color);
  width: 40px;
  background-color: var(--background-color);
}

.account {
  flex-basis: 25%;
  position: relative;
}

.login-register {
  float: right;
}

.login-toogle {
  border: var(--normal-border);
  border-radius: 0.3rem;
  padding: 0 0.9rem;
  line-height: 40px;
  cursor: pointer;
}

.header-bottom {
  background-color: var(--background-header-color);
  height: 60px;
}

.container-bottom {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.hidden-menu {
  flex-basis: 20%;
}

.dtmenu {
  position: relative;
  z-index: 101;
}
.dtmenu-title {
  color: var(--text-bar-color);
  font-size: var(--menu-font-size-1);
  font-weight: var(--weight-500);
  gap: 10px;
  height: 60px;
  padding: 0 0.9rem;
  cursor: default;
  align-items: center;
  background-color: var(--background2-header-color);
}

#icon-menu {
  background-color: var(--background2-header-color);
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  color: var(--background-color);
}

.dtmenu-list {
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  background: var(--background-color);
  left: 0;
  display: none;
}

.dtmenu:hover .dtmenu-list {
  display: block;
}

.desktop-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

li[data-depth="0"] {
  border-bottom: var(--normal-border);
  position: relative;
}

.hyper-list {
  text-decoration: none;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  color: #777;
}

.hyper-list > img {
  margin-right: 0.625rem;
}
.hyper-list > i {
  margin-left: auto;
  text-align: end;
  margin-right: 0.625rem;
}

.header-nav-links > ul {
  display: flex;
  gap: 1.875rem;
  margin-left: 1.875rem;
  list-style: none;
}

.header-nav-links > ul > li > a {
  color: var(--background-color);
  text-decoration: none;
}

.header-nav-links > ul > li > a:hover {
  color: var(--background-hover-color);
}

.header-nav-liks-hidden {
  display: none;
}

.divcart {
  flex-basis: 5%;
  margin-left: auto;
}

.cart {
  color: #fff;
  font-size: var(--menu-font-size-1);
  display: flex;
  justify-content: center;
  height: 60px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--background2-header-color);
}

.spancart {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.spancart > a {
  padding-right: 0.625rem;
}

.cart > span > a > i {
  color: var(--background-color);
  background-color: var(--background2-header-color);
}

.spancart > span {
  font-size: var(--query-font-size-075);
}

.sub-container-menu {
  width: auto;
  height: auto;
  background: var(--background-color);
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  z-index: 101;
  transition: opacity 0.4s;
}

.desktop-menu li:hover .sub-container-menu {
  display: block;
}

.sub {
  flex-wrap: wrap;
  row-gap: 0.625rem;
  padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
  margin-bottom: 0;
  list-style: none;
}

.sub-menu1-container {
  width: auto;
  /* flex-wrap: wrap; */
  gap: 1.25rem;
}

.sub-menu {
  width: 200px;
}

.sub-menu > a {
  font-weight: var(--weight-500);
  margin-bottom: 0.5rem;
  color: var(--text-color);
  display: block;
  text-decoration: none;
}

.sub-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu-list > li {
  width: 200px;
  list-style: none;
}

.sub-menu-list > li > a {
  color: var(--text-submenu-color);
  margin: 0 0 0.25rem;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

@media (min-width: 769px) and (max-width: 1320px) {
  .container-top,
  .container-middle {
    width: 100%;
    max-width: 100%;
  }

  #lang,
  #money,
  #money > option,
  #lang > option,
  .container-top > div {
    font-size: var(--query-font-size-075);
  }

  .login-toogle-text {
    display: none;
  }

  .login-toogle {
    padding: 0 0.3rem;
    text-align: center;
    cursor: pointer;
  }

  .header-bottom {
    height: 40px;
  }

  .container-bottom {
    height: 40px;
  }

  .divcart {
    flex-basis: 4%;
  }

  .dtmenu-title,
  .cart {
    font-size: var(--query-font-size-075);
    height: 40px;
  }

  #icon-menu {
    font-size: var(--menu-font-size-1);
  }

  .hyper-list,
  .hyper-list > i,
  .header-nav-links > ul > li > a {
    font-size: var(--query-font-size-075);
  }

  .header-nav-links {
    padding-right: 0.625rem;
  }

  .header-nav-links > ul > li {
    text-align: center;
  }

  .hyper-list > img {
    display: none;
  }

  .sub {
    row-gap: 0.3rem;
    padding: 0.3rem 0.9375rem 0.3rem 0.9375rem;
  }

  .sub-menu {
    width: 100px;
    font-size: var(--submenu-font-size-06875);
    text-overflow: ellipsis;
  }

  .sub-menu-container {
    column-gap: 0.9375rem;
  }

  .sub-menu-list > li {
    width: 100px;
  }

  .sub-menu-list > li > a {
    white-space: normal;
  }

  .spancart > a {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .spancart > span {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container-top {
    width: 100%;
  }

  .container-top > div,
  #lang,
  #lang > option,
  #money,
  #money > option,
  .hyper-list,
  .header-nav-links > ul > li {
    font-size: var(--query-font-size-075);
  }

  .container-middle {
    width: 100%;
  }

  .login-toogle-text {
    display: none;
  }

  .login-toogle {
    padding: 0 0.3rem;
    text-align: center;
    cursor: pointer;
  }

  .logo {
    flex-basis: 20%;
  }

  .search {
    flex-basis: 65%;
    padding: 0 0 0 1.25rem;
  }
  .account {
    flex-basis: 15%;
  }

  .header-bottom {
    height: 40px;
  }

  .container-bottom {
    max-width: 100%;
    height: 40px;
  }

  .dtmenu-title {
    height: 40px;
    width: 50px;
  }

  .dtmenu-title > span {
    display: none;
  }

  #icon-menu {
    font-size: var(--menu-font-size-1);
  }

  .hyper-list > i {
    display: none;
  }

  .dtmenu-list {
    width: 150px;
  }

  .desktop-menu li:hover .sub-container-menu {
    display: none;
  }

  .header-nav-links {
    margin-left: auto;
  }

  .i-header-nav,
  .np-header-nav,
  .s-header-nav {
    display: none;
  }

  .cart {
    font-size: var(--query-font-size-075);
    height: 40px;
  }

  .divcart {
    margin-left: auto;
  }

  .spancart > a {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .spancart > span {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header-top {
    padding-top: 0 !important;
  }

  .container-top {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-top > .text {
    order: 2;
    width: 100%;
    text-align: center;
    font-size: var(--query-font-size-075);
    border-top: var(--normal-border);
    padding-top: 0.3rem;
  }

  .language {
    order: 0;
    width: 50%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #lang,
  #lang > option,
  #money,
  #money > option,
  .hyper-list,
  .header-nav-links > ul > li {
    font-size: var(--query-font-size-075);
  }

  .currency {
    order: 1;
    width: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
    display: flex;
    justify-content: end;
  }

  .container-middle {
    width: 100%;
  }

  .login-toogle-text {
    display: none;
  }

  .login-toogle {
    padding: 0 0.3rem;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
  }

  .header-middle {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .logo {
    flex-basis: 15%;
  }

  .logo-grande {
    display: none;
  }

  .logo-chico {
    display: initial;
  }

  .search {
    flex-basis: 75%;
    padding: 0 0 0 0.625rem;
  }

  #search-nav::-webkit-placeholder {
    display: none;
  }
  #search-nav:-moz-placeholder {
    display: none;
  }
  #search-nav::-ms-placeholder {
    display: none;
  }
  #search-nav::placeholder {
    display: none;
  }

  .account {
    margin-left: 0.3rem;
    flex-basis: 10%;
  }

  .login-toogle {
    padding: 0;
  }

  .header-bottom {
    height: 40px;
  }

  .container-bottom {
    height: 40px;
  }

  .dtmenu-title {
    height: 40px;
    width: 50px;
  }

  .dtmenu-title > span {
    display: none;
  }

  #icon-menu {
    font-size: var(--menu-font-size-1);
  }

  .hyper-list > i {
    display: none;
  }

  .dtmenu-list {
    width: 150px;
  }

  .desktop-menu li:hover .sub-container-menu {
    display: none;
  }

  .header-nav-links {
    margin-left: auto;
  }

  .header-nav-links {
    display: none;
  }

  .header-nav-liks-hidden {
    display: block;
    height: 40px;
    padding: 0 0.625rem;
    margin-right: auto;
  }

  .links-hidden-nav-responsive {
    list-style: none;
    height: 40px;
    position: relative;
  }

  .links-hidden-nav-responsive > a {
    height: 40px;
    display: flex;
    background: var(--background2-header-color);
    text-decoration: none;
    width: 50px;
    justify-content: center;
    align-items: center;
  }

  .links-hidden-nav-responsive-container {
    display: none;
    box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: auto;
    background: var(--background-color);
    left: 0;
  }

  .links-hidden-nav-responsive-container > ul > li {
    list-style: none;
    font-size: var(--query-font-size-075);
    white-space: nowrap;
    border-bottom: var(--normal-border);
    padding: 0.625rem;
  }

  .links-hidden-nav-responsive-container > ul > li > a {
    text-decoration: none;
    color: var(--text-submenu-color);
  }

  .links-hidden-nav-responsive:hover .links-hidden-nav-responsive-container {
    display: block;
    z-index: 1000;
  }

  .cart {
    font-size: var(--query-font-size-075);
    height: 40px;
  }

  .divcart {
    margin-left: auto;
  }

  .spancart > a {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .spancart > span {
    display: none;
  }
}
